<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="I’m Quan Nguyen - ZeroDiverse, student, software developer based in Lille, France. I love learning programming languages, programming">
  <meta name="keywords" content="web, developer, software, android, thanh giong ar, quan nguyen, zerodiverse">
  <meta property="og:url"
    content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
  <meta property="og:type" content="portfolio" />
  <meta property="og:title" content="Student, Entrepreneur, Software Developer - Zero Diverse" />
  <meta property="og:description"
    content=" ZeroDiverse, student, software developer based in Lille, France. I love learning programming languages, programming" />
  <meta property="og:image"
    content="https://zerodiverse.s3.eu-west-3.amazonaws.com/images/logo_image.png" />
  <title><%= title %></title>
  <meta name="author" content="Quan Nguyen - Zero Diverse">
  <link rel="shortcut icon" href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon" href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57"
    href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72"
    href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76"
    href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114"
    href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120"
    href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144"
    href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152"
    href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180"
    href="https://zerodiverse.s3.eu-west-3.amazonaws.com/icons/apple-touch-icon-180x180.png" />
  <% if(path === 'index'){ %>
  <!--<link rel='stylesheet' href='/css/index.min.css' />-->
  <link rel="stylesheet" href="https://zerodiverse.s3.eu-west-3.amazonaws.com/stylesheets/index.min.css">
  <% } else { %>
  <!--<link rel='stylesheet' href='/css/contact.min.css' />-->
  <link rel="stylesheet" href="https://zerodiverse.s3.eu-west-3.amazonaws.com/stylesheets/contact.min.css">
  <% } %>
</head>

<body>
  <header>
    <%- include('./navbar.ejs') -%>
  </header>