<nav>
    <div class="navbrand">
        
    </div>
    <div class="navbar-main">
        <div class="btn-open">
            <svg width="18" height="15" viewBox="0 0 18 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.44643 2.61928H16.5536C17.3491 2.61928 18 2.02994 18 1.30964C18 0.589337 17.3491 0 16.5536 0H1.44643C0.650893 0 0 0.589337 0 1.30964C0 2.02994 0.650893 2.61928 1.44643 2.61928Z" fill="white"/>
                <path d="M1.44643 8.43989H16.5536C17.3491 8.43989 18 7.85056 18 7.13025C18 6.40995 17.3491 5.82062 16.5536 5.82062H1.44643C0.650893 5.82062 0 6.40995 0 7.13025C0 7.85056 0.650893 8.43989 1.44643 8.43989Z" fill="white"/>
                <path d="M1.44643 14.2605H16.5536C17.3491 14.2605 18 13.6712 18 12.9509C18 12.2306 17.3491 11.6412 16.5536 11.6412H1.44643C0.650893 11.6412 0 12.2306 0 12.9509C0 13.6712 0.650893 14.2605 1.44643 14.2605Z" fill="white"/>
                </svg>                
        </div>
        <div class="btn-close"><img src="https://res.cloudinary.com/dnndch4fo/image/upload/v1598124436/zero/images/closeBtn_iwhkx2.webp" alt="close button"></div>       
        <ul class="navbar-nav">
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#">Resume</a></li>
            <li><a href="#collab">Collab</a></li>
            <a href="/contact" target="_blank"><li class="primary">Contact</li></a>
        </ul>
    </div>
</nav>