<%- include('./partials/header.ejs') -%>
<main role="main">
    <div class="form">
        <form action="/contact" method="POST">
            <legend>Thanks for CONTACTING ME!</legend>
            <div class="form-group">
                <div class="form-group-inline">
                    <label for="firstname">Firstname*</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Please enter your firstname" required/>
                </div>
                <div class="form-group-inline">
                    <label for="lastname">Lastname*</label>
                    <input type="text" id="firstname" name="firstname" placeholder="Please enter your lastname" required/>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email*</label>
                <input type="email" id="email" name="email" placeholder="Please enter your email" required/>
            </div>
            <div class="form-group">
                <label for="subject">Subject*</label>
                <input type="text" id="subject" name="subject" placeholder="Please enter your subject" required/>
            </div>
            <div class="form-group" style="margin-bottom: 0rem;">
                <label for="message">Subject*</label>
                <textarea id="message" name="message" placeholder="Please enter your message" required></textarea>
            </div>
            <div>
                <button class="btn btn-primary">SEND</button>
            </div>
        </form>
    </div>
</main>
<footer>

</footer>
<%- include('./partials/footer.ejs') -%>