<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.min.css' />
  </head>
  <body>
    <header>
      <%- include('./partials/navbar.ejs') -%>
    </header>
    <main>
      <section class="introduction-section">
        <h1>HI I'M ZERO DIVERSE</h1>
        <p>
          I am an Android - Full-stack passionate developer lived in Lille, France
        </p>
      </section>
    </main>
  </body>
  <script src="/javascripts/index.js"></script>
</html>
