nav {
    background-color: transparent;
    position: relative;
    .navbrand {
        width: 2rem;
        height: 50px;
        position: absolute;
        left: 2rem;
        top: 1.5rem;
        cursor: pointer;
        //background-color: white;
    }

    .navbar-main {
        position: absolute;
        right: 0;
        height: 100vh;
        width: 0%; //80%
        transition: all 0.6s ease-out;
        background-color: getColor(primaryWhite);
        z-index: 20000;

        .btn-open {
            position: absolute;
            top: 2rem;
            right: 2rem;
            display: block;
            cursor: pointer;
            &:hover {
                svg {
                    fill: getColor(darkBlue);
                }
            }
        }

        .btn-close {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            display: none;
            svg{
                width: 36px;
                height: 36px;
                .st0 {
                    fill: #2380E7;
                }

                .st1 {
                    fill: #FFFFFF;
                }
                &:hover{
                    .st0 {
                        fill: #FFFFFF;
                    }
    
                    .st1 {
                        fill: #2380E7;
                    } 
                }
            }
        }

        .navbar-nav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;

            li {
                margin-bottom: 3rem;
                font-weight: normal;
                font-size: 19px;

                a {
                    color: getColor(primaryBlue);
                    font-weight: normal;
                    font-size: 19px;
                }
            }

            .primary {
                background-color: getColor(primaryBlue);
                border: 2px solid #207BE6;
                border-radius: 34px;
                backdrop-filter: blur(4px);
                padding: 7.5px 2rem;

                &:hover {
                    background-color: getColor(darkBlue);
                }

                a {
                    color: getColor(primaryWhite);
                }
            }
        }
    }
}


@media only screen and (min-width: 1024px) {}