@import '../abstract/colors';
@import '../abstract/functions';

main {
    .introduction-section {
        background: url("/images/mobile_bg.png") no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-family: "eurostyle";
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 2rem;
            color: getColor(primaryWhite);
        }

        p {
            color: getColor(primaryWhite);
            text-align: center;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
        }
    }
}