main {

    /* Projects section */
    .projects-section {
        text-align: center;
        width: 88%;
        margin: auto;
        margin-top: 4.5rem;

        .section-intro {
            margin-bottom: 4.375rem;

            h2 {
                font-family: 'OpenSans-SemiBold', 'Courier New', Courier, monospace, sans-serif;
                font-size: 20px;
                line-height: 32px;
            }

            h3 {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 24px;
                text-align: center;
                text-transform: uppercase;
                color: getColor(silver);
            }
        }

        .project {
            margin-bottom: 80px;

            .icon-project {

                img,
                video {
                    width: 6.06rem;
                }
            }

            .description {
                margin-bottom: 1.75rem;

                .desc {
                    //Todo font weight
                    font-family: 'OpenSans-SemiBold', 'Courier New', Courier, monospace, sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 52px;
                    margin-top: 0;
                }
            }

            .project-img {
                border-radius: 1.75rem;
                margin-bottom: 6px;

                img {
                    width: 95%;
                    border-radius: 22px;
                }
            }
        }
    }

    /* Projects section */
}

@media screen and (min-width: 1024px) {
    main {
        .projects-section {
            margin-bottom: 160px;
            .section-intro {
                h2 {
                    font-size: 36px;
                }

                h3 {
                    font-size: 16px;

                }
            }

            .project {
                .project-intro {
                    display: flex;
                    max-width: 56%;
                    margin: auto;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 2.61rem;
                    .icon-project {
                        margin-right: 6rem;
                        video {
                            width: 175px;
                            height: 175px;
                        }
                    }

                    .description {
                        margin-bottom: 0;
                        .desc {
                            font-size: 24px;
                            text-align: start;
                        }

                        p {
                            font-size: 14px;
                            text-align: start;
                            line-height: 36px;
                        }
                    }
                }


                .projects {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}